/* **********************************************
 *
 *   ARINKA
 *   =============
 *
 *   Table of Contents:
 *      1 - Variables
 *      2 - Typography
 *      3 - Layout
 *      4 - Components
 *
 ********************************************** */

/* 1 - Variables ****************************** */

:root {
  --theme-colour: #EB5757;
  --theme-colour-light: #D59152;
  --secondary-colour: #FEBE61;
}
/* 2 - Typography ****************************** */

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.6;
  word-spacing: 2px;
}
a{
  text-decoration: none;
}
.text-white{
  color: #fff;
}
.text-grey{
  color: #ccc;
}
/* Custom css */
.header{
  position: relative;
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, var(--theme-colour) 0%,var(--theme-colour-light) 100%);
  font-size: 12px;
}
.navbar{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
.navbar-list{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  list-style: none;
  
  margin: 0 auto;

}
.navbar-list li{
  display: inline-block;
  padding: 0 10px;
}
.navbar-left{
  position: absolute;
  left: 20px;
}
.navbar-right{
  position: absolute;
  right: 20px;
}
.navbar-btn{
  padding: 10px 30px;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2);
}
.searchbar{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  transform: translateY(25%);
}
.searchbar-input{
  border: 0;
  margin-top: 20px;
  padding: 20px;
  border-radius: 40px;
  border: 2px solid #F2994A;
  width: 600px;
  height: 80px;
  text-align: center;
}
.header-text{
  position: absolute;
  max-width: 738px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-text header{
  font-family: 'Catamaran', sans-serif;
  font-size: 3.5em;
  font-weight: bolder;
  color: #fff;
  line-height: 1em;
}
/* Main Section */
main{
  
}
.about{
  margin-top: 100px;
}
.about-container{
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
.about-header{
  font-size: 1.5em;
  font-weight: bold;
}
.places{
 
}
.places-cards{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 50px auto;
}
.places-card{
  display: flex;
  width: 350px;
  height: 400px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.places-btn{
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 50px 0;
}
.places-btn > a {
  padding: 10px 20px;
  border: 2px solid var(--theme-colour);
  border-radius: 40px;
  color: #F2994A;
}
.blog{
  position: relative;
  width: 100%;
  height: 400px;
  background-color: var(--theme-colour);
  padding: 50px 0;
}
.blog:before{
  content: "";
  position: absolute;
  top: 0;
  left: -120px;
  bottom: 0;
  width: 45%;
  background: linear-gradient(180deg, #E36E55 0%, #D78F52 100%);
  transform: skewX(-30deg);
}
.blog-container{
  position: relative;
  width: 80%;
  margin: 50px auto;
}
.blog-header{

}
.blog-post{
  width: 40%;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}
/* Footer section */
footer{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
.mobile-menu{
  display: none;
}
/* responsive  */
@media (min-width:320px){
  .header{
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, var(--theme-colour),var(--theme-colour-light));
    font-size: 12px;
  }
  .navbar-fixed{
    position: fixed;
    background-color: #E36E55;
    transition: all .5s linear;
    z-index: 9999;
  }
  .navbar-list{
    display: none;
  }
  .navbar-btn{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.2);
  }
  .mobile{
    display: none;
    cursor: pointer;
    line-height: 50px;
    vertical-align: middle;
  }
  .mobile-bar{
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
  }
  .mobile-bar:first-of-type{
    margin-bottom: 3px;
  }
  .mobile-bar:last-of-type{
    margin-top: 3px;
  }
  .searchbar-input{
    width: 300px;
  }
  .mobile-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
    background-color: #fff;
    z-index: 9999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: roll-down 2s linear;
  }
  .about-container{
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
  }
  .places-cards{
    position: relative;
    display: block;
    width: 80%;
    margin: 50px auto;
  }
  .places-card{
    display: block;
    width: 100%;
    height: 300px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
  }
  .blog:before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    bottom: 0;
    width: 60%;
    background: linear-gradient(180deg, #E36E55,#D78F52);
    transform: skewX(-15deg);
  }
  footer{
    text-align: center;
  }
  .footer-left{
    display: none;
  }
  .footer-right{
    position: relative;
    right: 0;
  }
}
@media(min-width:720px){
  .header{
    height: 500px;
  }
  .navbar-list{
    display: block;
  }
  .searchbar-input{
    width: 600px;
  }
  .about-container{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
  }
  .places-cards{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
  }
  .places-card{
    display: flex;
    width: 30%;
    height: 350px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  .footer-left{
    display: block;
    position: absolute;
    left: 20px;
  }
  .footer-right{
    position: absolute;
    right: 20px;
  }
}
@media (min-width: 1024px){
  
}

/* @keyframes */
@keyframes roll-down {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(100);
  }
}